<% provide(:title, 'Contact') %>

<!--TEAM SECTION START-->
<section id="team" >
	<div class="container">
		<div class="row text-center header animate-in" data-anim-type="fade-in-up">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h3>EVENT HEADS</h3>
				<hr />
			</div>
		</div>
		<div class="row animate-in" data-anim-type="fade-in-up">
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-md-offset-3 col-lg-offset-3">
				<div class="team-wrapper">
					<div class="team-inner" style="background-image: url('/images/pavitra.jpg')" >
						<a href="https://www.facebook.com/paviimore" target="_blank" > <i class="fa fa-facebook" ></i></a>
					</div>
					<div class="description">
						<h3> Pavitra Singh</h3>
						<!-- <h5> <strong> Question Setter </strong></h5> -->
						<p>
						Center For Cognitive Activities(CCA)</p><p>
						NIT Durgapur
						</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
				<div class="team-wrapper">
					<div class="team-inner" style="background-image: url('/images/rohith.jpg')" >
						<a href="https://www.facebook.com/rohith.aviator" target="_blank" > <i class="fa fa-facebook" ></i></a>
					</div>
					<div class="description">
						<h3> Rohith Chowdhury</h3>
						<!-- <h5> <strong> Question Setter </strong></h5> -->
						<p>
						Center For Cognitive Activities(CCA)</p><p>
						NIT Durgapur
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--TEAM SECTION END-->