<% provide(:title, "Rules") %>

<!--HELP SECTION START-->
<section id="contact" >
<div class="container">
<div class="row text-center header animate-in" data-anim-type="fade-in-up">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<h3>HOW  TO  PLAY ? </h3>
<hr />

</div>
</div>

<div class="row animate-in" data-anim-type="fade-in-up">

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="contact-wrapper">
<h3>RULES</h3>
  <ul>
      <li>
          Revealing answers or questions on any<b>social media</b></a> 
          will result in immediate <b>disqualification. </b>
       </li>          
        <li>  
            For any queries contact Event Heads. They
            are available for your help. Do not ask senseless questions. 
        </li> 

        <li>  
           Do not ask your fellow contestants or friends for anwers/hints. It will lead to immediate <b> disqualification.</b>
        </li>
      </ul>
</div>

</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="contact-wrapper">
<h3>INSTRUCTIONS</h3>
<ul>
      <li>
        Answer in any way you want.
        <em>Baby-doll</em>, <em>Baby doll</em>, <em>BABY DOLL!</em> 
        <b>EVERYTHING</b> will all be accepted! 
      </li>
      <li>
        You have unlimited attempts for every level. You <b> won't be judged by the number of attempts you make.</b>
      </li>
      <li>
         <b>Googling</b> is the key to success.
      </li>

      <li>
        <%=link_to "Google Image Search", "http://images.google.com/", :class=>"help-links" %> will also be really useful for reverse image search
      </li>

      <li>
        Something may be dropped in places like title-bar,images etc.
      </li>
    </ul>

</div>

</div>
</div>


</div>
</section>
<!--HELP SECTION END-->