
<!--HOME SECTION START-->
<div id="home" >
<div class="container">
<div class="row">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
    <img src="images/title1.png" style="width:300px;margin-left:auto;margin-right:auto" class ="img-responsive"></img>
    <h4 id="home-h4">presents</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12  col-md-12  col-lg-12 ">
      <h1 id="heading-home">INQUEST</h1>
    </div>
  </div>
<div class="row animate-in" data-anim-type="fade-in-up">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="home-wrapper">
      <h3>INQUEST?</h3>
      <p>
       INQUEST is an online treasure hunt event, a part of AAROHAN 2017, Annual Techno-Management Fest of NIT Durgapur.
      </p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="home-wrapper">
      <h3>When is it?</h3>
      <p>
      Go ahead and register now. INQUEST will commence from 7th February, 9PM. Read rules and instructions.
      </p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="home-wrapper">
      <h3> I don't get it</h3>
      <p>
      There is something you don't understand? Shoot us an email at inquest2017@gmail.com
      </p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="home-wrapper">
      <h3>What are the prizes?</h3>
      <p>
      Prizes and goodies worth upto Rs 5000 up for win. Be the undisputed leader.
      </p>
    </div>
  </div>
</div>

</div>
</div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="color:#39ab6f;">
    <h3>Total Users Registered so far : <span style="color:white;font-size:6vh;"><%= @total_user %> </span></h3>
  </div>
  <div class="cta">
    <%= link_to "Register now!", signup_path,class: "btn button-custom btn-custom-two"%>
  </div>
</div>

</div>
</div>
